* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.chat-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.chat-log {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.message {
    margin-bottom: 15px;
}

.message-bot {
    text-align: left;
    animation: slideInLeft 1s ease-in-out; /* Увеличено время анимации */
}

.message-user {
    text-align: right;
    animation: slideInRight 1s ease-in-out; /* Увеличено время анимации */
}

.message p {
    display: inline-block;
    padding: 12px 18px;
    border-radius: 20px;
    max-width: 75%;
    word-break: break-word;
}

.message-user p { 
    background-color: #d9fdd3; 
    color: #344955; 
}

.message-bot p { 
    background-color: #007bff;
    color: #fff;
}

.chat-input {
    padding: 20px;
    border-top: 1px solid #eee;
    display: flex; /* Flexbox для .chat-input */
    align-items: center; /* Выравнивание по вертикали */
}

#user-input {
    width: 100%; /* Поле ввода на всю ширину */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#send-button {
    width: 80px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

#send-button:hover {
    background-color: #0062cc;
}

/* Анимации для сообщений */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}